/LandSellingWebsite/bin
/LandSellingWebsite/obj
/.vs
/Images
/LandSellingApi/Api/bin
/LandSellingApi/Api/obj
/LandSellingApi/Business/bin
/LandSellingApi/Business/obj
/LandSellingApi/Business.Contract/bin
/LandSellingApi/Business.Contract/obj
/LandSellingApi/Data/bin
/LandSellingApi/Data/obj
/LandSellingApi/Data.Contract/bin
/LandSellingApi/Data.Contract/obj
/LandSellingApi/Data.Identity/bin
/LandSellingApi/Data.Identity/obj
/LandSellingApi/Domain/bin
/LandSellingApi/Domain/obj
/LandSellingApi/Tests/bin
/LandSellingApi/Tests/obj
/LandSellingApi/.vs/LandSellingWebsite/config
/LandSellingApi/.vs/LandSellingWebsite/DesignTimeBuild
/LandSellingApi/.vs/LandSellingWebsite/v17
/LandSellingApi/.vs/LandSellingWebsite/project-colors.json
/LandSellingApi/bin
/LandSellingApi/obj
/LandSellingWebsiteAPI/Api/bin
/LandSellingWebsiteAPI/Api/obj
/LandSellingWebsiteAPI/bin
/LandSellingWebsiteAPI/obj
/LandSellingWebsiteAPI/Business/bin
/LandSellingWebsiteAPI/Business/obj
/LandSellingWebsiteAPI/Business.Contract/bin
/LandSellingWebsiteAPI/Business.Contract/obj
/LandSellingWebsiteAPI/Data/bin
/LandSellingWebsiteAPI/Data/obj
/LandSellingWebsiteAPI/Data.Contract/bin
/LandSellingWebsiteAPI/Data.Contract/obj
/LandSellingWebsiteAPI/Data.Identity/obj
/LandSellingWebsiteAPI/Data.Identity/bin
/LandSellingWebsiteAPI/Domain/bin
/LandSellingWebsiteAPI/Domain/obj
/LandSellingApi/WebAPI/bin
/LandSellingApi/WebAPI/obj
/LandSellingApi/Business.Tests/bin
/LandSellingApi/Business.Tests/obj
/LandSellingApi/AuthorizationTests/bin
/LandSellingApi/AuthorizationTests/obj
