<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/ce788fb5-5497-4942-ad3c-38d5a2e976db/resourceGroups/LandSellingApiGroup/providers/Microsoft.Web/sites/land-selling-api</ResourceId>
    <ResourceGroup>LandSellingApiGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://land-selling-api.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>ab619b40-f9d4-4f87-bc48-73edd48049e4</ProjectGuid>
    <PublishUrl>https://land-selling-api.scm.azurewebsites.net/</PublishUrl>
    <UserName>$land-selling-api</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>